.block{
	padding: 5px;
	background: #f58a08;
	border-radius: 4px;
	color: white;
	min-height: 15vh;
	p{
		text-align: center;
		color:white;
	}
}

.bullhorntext{
	padding-top: 8vh;
}

h3{
	color:white;
}

.smallspace{
	height:40px;
}
