@import 'colors';

.navbar {
    border-bottom: none;

    .navbar-nav {
        display: inline-block;
        float: right;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .navbar-collapse {
        text-align: center;
    }
}

.navbar-brand {
    float: left;
}

.mediumspace {
    height: 125px;
}

.navbar-default {
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
	position: absolute;
	left:0px;
	padding: 0px;

}

.navbar-default .navbar-nav>li>a {
    color: $secondary;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 0.2s all;
    &:hover{
        color: darken($primary, 20%);
    }
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-brand img {
    height: 80px;
}

.bullhornknop{
  background-color: white;
  border-radius: 0px 0px 0px 10px;
  min-height: 55px;
}

@media screen and (max-width:769px){
	.navbar-header{
		width: 95vw;
	}

	.navbar{
		padding:0px;
	}

	.in .navbar-nav, .collapsing .navbar-nav{
		background: $primary;
	    width: 100%;
	    display: block;

	    float: left;
	    margin: 0px;
	    padding: 0px;
	    width: 100vw;
		margin-top:5vh;
		li{
			border-bottom: solid 2px white;
		}
	}

	.navbar-collapse{
		-webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
	}

	.bullhornknop{
	  background-color: white;
	  border-radius: 0px 0px 10px 10px;
	  display: inline-block;
	  width: 100%;
	}
}
// breaking point mobile menu
@media  (max-width: 1200px) {
  .navbar-header {
    float: none;
    width: 100vw;

	button{
		position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
z-index:999999;
		}
	}

  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
