.navbar-brand>img{
  height:80px !important;
}

.contact>p{
  color:white;
  font-size: 17px;
  margin-top: 2%;
}

.contact2>p{
  color:#f58a08;
  font-size: 17px;
  margin-top: 2%;
}

.flex-center{
	min-height: 50vh;
}

.navbar{
	color:red;
}

.flex{
	min-height: 50vh;
}
